@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.h2 {
  @apply text-3xl font-bold md:text-4xl text-white flex flex-col gap-1 md:gap-3 capitalize;
}

.para {
  @apply mt-6 text-white font-medium text-lg md:text-xl mx-auto;
}

.sm-para {
  @apply text-lg font-medium text-white;
}

.bg {
  background: #02aab0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00cdac,
    #02aab0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00cdac,
    #02aab0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fadeIn {
  animation: fadeIn 0.2s ease-in;
  transition: all 0.8s ease-in-out;
}

@keyframes fadeIn {
  0% {
    transform: translateX(-25px);
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }

  100% {
    opacity: 100%;
  }
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container .header {
  flex: 20%;
  display: grid;
  place-items: center;
}

.form-container .body {
  flex: 60%;
}

.form-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.form-container .footer button {
  border-radius: 7px;
  width: 100px;
  height: 40px;
  background-color: rgb(255, 0, 140);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform-origin: 0%;
}
